@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
:root {
  --font-size: 30px;
  --font-size-small: 25px;
}
.main-title{
  font-size: 70px;
  color: black;
  background-color: #eeba2b;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

.card-mark{
  position:absolute;
  width: 100%;
  top: -40px;
  left: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.m-card{
  width: 100%;
  font-size: var(--font-size-small);
  border: 3px solid #222222;
  color: white;
  background-color: black;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.m-hint{
  border-radius: 13px;
  padding: 10px;
  background-color: #eeba2b;
  color: black;
  font-size: var(--font-size);
  font-weight: bold;
}

.m-title{
  position: relative;
  padding: 10px;
  background-color:#333;
  font-size: var(--font-size);
  color: white;
  font-weight: bold;

}
.price{
  font-weight: bold;
  font-size: 40px;
}
body {
  background-color: black;
}